<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.norgevz.myticketon">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".global.GlobalState"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.application.norgevz.myticketon.MainActivity_"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name="com.application.norgevz.myticketon.SettingsScreen_"
            android:label="Settings"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.application.norgevz.myticketon.RegisterScreen_"
            android:label="Register"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".DashboardScreen"
            android:label="Dashboard"
            android:theme="@style/AppTheme.NoActionBar" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>